<!-- head-custom.html -->
<script>
  MathJax = {
    tex: {
      inlineMath: [['$', '$'], ['\\(', '\\)']],
      displayMath: [['$$', '$$'], ['\\[', '\\]']]  // displayモード設定
    },
    options: {
      processEscapes: true
    }
  };
</script>
<script async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
<style>
    /* ヘッダーの縦幅を半分に調整 */
  .page-header {
    padding-top: 10px; /* 必要に応じて調整 */
    padding-bottom: 10px; /* 必要に応じて調整 */
  }
  /* ヘッダー内の<h1>をメインの<h1>と同じサイズにする */
  .page-header h1 {
  font-size: 2rem;  /* メインの h1 と同じサイズ */
  line-height: 1.2;
  margin: 0;
}
/* displayモードの数式に上下の余白を追加 */
.MathJax_Display {
  display: block;
  text-align: center;  /* 中央揃え */
  margin-top: 1em;     /* 上余白 */
  margin-bottom: 1em;  /* 下余白 */
}
</style>
